.profile-header {
    background: white;
}

.profile-header h2 {
    font-weight: bold;
    font-size: 40px;
}

.profile-body {
    padding: 20px 20px 50px 20px;
}

.profile-body label {
    font-size: 14px;
    font-weight: bold;
}

.profile-form {
    background: white;
    padding: 30px 40px;
}

.profile-action {
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
}

.profile-button {
    font-size: 12px;
    font-weight: bold;
}

.avatar-cancel-button {
    border-radius: 10px;
}